/batchLearnerExample
/debug
/detectPlatform
/integrationTest
/kernelTuner
/kernelTunerHelper
/learnerSGDETest
/memoryTest
/multiEvalPerformance
/multiEvalPerformanceBSpline
/multModTest
/multTest
/multTestAdaptive
/multTransposeModTest
/multTransposeTest
/multTransposeTestAdaptive
/piecewiseConstantSmoothedRegressionLearner
/piecewiseSmoothingRegressor
/regressionByInterpolation
/regressionLearner
/sampler
/samplerMod
/writeScenario
/zeroCopyTest
