# For use with docker, build this image and use it
#image: sgpp_img

stages:
  - build
  - platforms
  - switches
  - doc


Compile Standard:
  stage: build
  script:
    - scons -j $(nproc) VERBOSE=1 COMPILER=gnu ARCH=avx OPT=0 PYDOC=0
  tags:
    - ubuntu
    - gcc
    - scons
    - swig
    - avx
  only:
    - branches
  except:
    - master


#Compile Intel:
#  stage: platforms
#  script:
#    - . /opt/intel/bin/compilervars.sh intel64
#    - scons -j $(nproc) VERBOSE=1 COMPILER=Intel ARCH=avx OPT=1 PYDOC=0
#  tags:
#    - ubuntu
#    - intel
#    - scons
#    - swig
#    - avx
#  except:
#    - master


#TODO validate scons flags
#Compile OSX:
#  stage: platforms
#  script:
#    - scons -j4 CXX="g++-5" CC="g++-5" COMPILER=GNU ARCH=SSE3 VERBOSE=1 OPT=1 PYDOC=0 RUN_PYTHON_TESTS=0 SG_JAVA=0 CPPFLAGS="-D_GLIBCXX_USE_CXX11_ABI=0" RUN_BOOST_TESTS=0
#  tags:
#    - osx
#    - gcc
#    - scons
#    - swig
#    - sse3
#  except:
#    - master


Test PYDOC:
  stage: switches
  script:
    - scons -j $(nproc) VERBOSE=1 COMPILER=gnu ARCH=avx OPT=0 PYDOC=1 COMPILE_BOOST_TESTS=0
  tags:
    - ubuntu
    - gcc
    - scons
    - swig
    - avx
  except:
    - master


Test StaticLib:
  stage: switches
  script:
    - scons -j $(nproc) VERBOSE=1 COMPILER=gnu ARCH=avx OPT=1 PYDOC=0 BUILD_STATICLIB=1
  tags:
    - ubuntu
    - gcc
    - scons
    - swig
    - avx
  except:
    - master


##############################################
#TODO all of these
##############################################

#Compile Win32-msvc:
#  stage: platforms
#  script:
#    - scons COMPILER=vcc ARCH=sse3 PYDOC=0 VERBOSE=1 SG_PARALLEL=0 SG_COMBIGRID=0 MSVC_USE_SCRIPT="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\vcvars32.bat"
#  tags:
#    - windows
#    - msvc
#    - scons
#    - swig
#    - sse3
#  except:
#    - master

#Test Win32-msvc-StaticLib:
#  stage: switches
#  script:
#    - scons COMPILER=vcc ARCH=sse3 PYDOC=0 VERBOSE=1 BUILD_STATICLIB=1 SG_PARALLEL=0 SG_COMBIGRID=0 MSVC_USE_SCRIPT="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\vcvars32.bat"
#  tags:
#    - windows
#    - msvc
#    - scons
#    - swig
#    - sse3
#  except:
#    - master


Build Documentation:
  stage: doc
  script:
    - scons -h #generating the Doxyfile
    - doxygen Doxyfile
    - cat doxygen_warnings.log
  tags:
    - doxygen
    - scons
  except:
    - master


#Style Guide:
#  stage: doc
#  script:
#    - exit 1
#  tags:
#    - someflagforstylechecking
#  except:
#    - master


