Source: sgpp
Maintainer: SG++ Team <sgpp@sparsegrids.org>
Section: math
Priority: optional
Standards-Version: 2.0.0
Build-Depends: debhelper (>= 9)

Package: sgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sparse Grids library
 SG++ is a sparse grids library
