<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="armadillo-code" version="7.800.2" targetFramework="native" />
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="Eigen" version="3.3.3" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
</packages>